{% extends  'student/general-layout.html' %}

{% block app-main %}
    <div class="student-exam">

        <div class="panel panel-primary">
            {% include 'messages.html' %}

            <div class="panel-heading">
                <h6 class="panel-title">Courses</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>

                    <th>Exam Name</th>
                    <th>Subject</th>
                    <th>Start Time</th>
                    <th>End Time</th>

                    <th>Status</th>
                </tr>
                </thead>
                {% for course in courses %}
                    <tr>

                        <td> {{ course.course_name }}</td>
                        <td> {{ course.subject.name }}</td>
                        <td> {{ course.start_time }}</td>
                        <td> {{ course.end_time }}</td>

                        <td>
                            {% if course.status == 'Ongoing' %}
                                <a href="{% url 'student:start-exam' course.id %}" class="text-success">On Going</a>
                            {% elif course.status == 'Upcoming' %}
                                <a href="#" class="text-info">Upcoming</a>
                            {% else %}
                                <a href="#" class="text-danger">Finished</a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
