{% extends  'student/general-layout.html' %}

{% block app-main %}
<div class="take-exam" id="take_exam">

    <div class="jumbotron">

	      <h3 class="text-info text-center">Before you start the Exam, here are the rules</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">

                    <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Exam Name : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>All questions are multiple choice question.</li>
                            <li><span class="text-danger">Only one choice is correct.</span></li>
                            <li>Every question carry different marks
                            </li>

                            <li>Try to answer as quickly as you can.</li>
                            <li>If you press refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as attempted.</li>
                            <li>Questions are displayed randomly for every user.</li>
                            <li>You will be told your marks immediately when you submit the answer.</li>
                        </ul>
                    <p></p>
                    <button class="btn btn-info" onclick="Fullscreen(); loadDoc();">Let's Start</button>
                </div>
                <div class="card-footer">Best Of Luck</div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

function ieClicked() {
            if (document.all) {
                return false;
            }
        }
        function firefoxClicked(e) {
            if (document.layers || (document.getElementById && !document.all)) {
                if (e.which == 2 || e.which == 3) {
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = firefoxClicked;
        } else {
            document.onmouseup = firefoxClicked;
            document.oncontextmenu = ieClicked;
        }
        document.oncontextmenu = new Function("return false")
        function disableselect(e) {
            return false
        }
        function reEnable() {
            return true
        }
        document.onselectstart = new Function("return false")
        if (window.sidebar) {
            document.onmousedown = disableselect
            document.onclick = reEnable
        }

     function getFullscreenElement() {
            return document.fullscreenElement
                || document.webkitFullscreenElement
                || document.mozFullscreenElement
                || document.msFullscreenElement;
        }


        function exitscreen() {
            if (getFullscreenElement()) {

                let y = document.exitFullscreen();
                let s = navigator.keyboard.unlock();
                if (s == undefined) {
                    window.location.replace("todo.html");
                }

            }
        }

        function Fullscreen() {
            document.documentElement.requestFullscreen().catch(console.log);
            navigator.keyboard.lock();
        }

        function loadDoc() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("take_exam").innerHTML =
                    this.responseText;
            }
            xhttp.open("GET", "{% url 'student:start-exam' course.id  %}");
            xhttp.send();
        }



    </script>

{% endblock %}
