{% extends  'faculty/general-layout.html' %}
{% load static %}
{% block title %}ExamShield | Generate Room
{% endblock %}
{% block app-main %}

    <script>
        let ROOM_ID;
        if (localStorage.getItem('exam_id') === 'undefined') {
            ROOM_ID = undefined;
        } else {
            ROOM_ID = localStorage.getItem('exam_id');
        }

        function onGenerateRoom() {
            localStorage.setItem('exam_id', document.getElementById('room').value);
            location.reload();
        }

    </script>

    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="{% static '/js/socket.io.js' %}" defer></script>
    <script src="{% static '/js/script.js' %}" defer></script>
    <script src="{% static '/js/main.js' %}" defer></script>

    <div class="faculty-video-conference">
        <div class="row">
            <div class="col-md-8 col-12">
                <p class="sign" align="center">Generate Room</p>
                <select align="center" name="room" id="room" placeholder="Room ID">
                    <option value="Demo">Demo | Testing</option>
                    {% for course in courses %}
                        {% if course.status == 'Upcoming' or course.status == 'Ongoing' %}
                            <option value="{{ course.room_id }}">{{ course.room_id }}
                                | {{ course.course_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {#        <input type="text" align="center" name="room" id="room" placeholder="Room ID">#}
                <button id="generate" align="center" name="generate" class="generate" onclick="onGenerateRoom()"
                        style="margin-left:190px;">Generate
                </button>
            </div>
            <div class="col-md-4 col-12 col-mt-3 d-flex justify-content-center align-items-center">

                <div id="video-grid" class="card mb-3"
                     style="max-width: 100%;background-color: rgb(207, 158, 240); margin-top: 25px; padding:5px;">
                </div>
            </div>
        </div>

    </div>
{% endblock %}