<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Assignment</title>
</head>
<body>
<div class="main">
    <p class="assignment" align="center">New Assignment</p>
    <form class="form1" action="{% url 'assignment:create-assignment' %}">
        <input type="text" align="center" placeholder="Username">
        <input type="Text" align="center" placeholder="Address">
        <input type="text" align="center" placeholder="Contact">
        <input type="text" align="center" placeholder="Website">
        <input type="email" align="center" placeholder="Email">
        <input type="number" min="1" align="center" placeholder="Institute code">
        <a class="reset" align="center">Reset</a>
        <a class="done" align="center">Done</a>
    </form>
</div>
</body>
</html>