{% extends  'faculty/general-layout.html' %}

{% block app-main %}
    <div class="student-exam">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Assignment - {{ assignment.question }}</h6>
            </div>

            <div><b>No:</b> {{ assignment.no }}</div>
            <div><b>Subject:</b> {{ assignment.subject.name }}</div>
            <div><b>Due:</b> {{ assignment.deadline }}</div>
            <div><b>Total Marks:</b> {{ assignment.total_marks }}</div>

            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Student Enroll</th>
                    <th>Submission Time</th>
                    <th>Marks</th>
                    <th>Reviewed</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment_instance in assignment_instances %}
                    <tr>
                        <td>
                            <a href="{% url 'assignment:review-assignment-instance' assignment_instance.id %}">
                                {{ assignment_instance.student.enroll_no }}
                            </a>
                        </td>
                        <td>{{ assignment_instance.submit_time }}</td>
                        <td>{{ assignment.subject.marks }}</td>
                        <td>{{ assignment.subject.reviewed }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
