{% extends  'student/general-layout.html' %}

{% block app-main %}
    <div class="student-exam">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Returned Assignments</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Marks</th>
                    <th>Subject</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                {% for assignment_instance in assignment_instances %}
                    <tr>
                        <td>
                            <a href="{% url 'assignment:submit-assignment' assignment_instance.assignment.id %}">
                                {{ assignment_instance.assignment.no }}
                            </a>
                        </td>
                        <td>{{ assignment_instance.assignment.question }}</td>
                        <td>{{ assignment_instance.marks }}/{{ assignment_instance.assignment.total_marks }}</td>
                        <td>{{ assignment_instance.assignment.subject.name }}</td>
                        <td><a href="{{ assignment_instance.file_uploaded.url }}">File</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
