{% extends  'faculty/general-layout.html' %}

{% block app-main %}
<div class="submit-assignment">
    <p class="sign" align="center">Submit Assignment</p>
    <form class="form1" method="POST">
        <div class="form-group">
            <label><b>Due<b></label><br>
            <label><b>Aim<b></label><br>
            <label><b>Marks<b></label><br>
            <label><b>Upload Assignment<b></label>
            <input  type="file" align="center" name="file_uploaded" id="file_uploaded"  placeholder="Assignment Number">
        </div>
        <button type="submit" class="add">Submit</button>
    </form>
</div>

{% endblock %}