{% extends  'student/general-layout.html' %}

{% block app-main %}
    <div class="submit-assignment">
        <p class="sign" align="center">Submit Assignment</p>

        <div><b>No:</b> {{ assignment.no }}</div>
        <div><b>Name:</b> {{ assignment.question }}</div>
        <div><b>Subject:</b> {{ assignment.subject.name }}</div>
        <div><b>Due:</b> {{ assignment.deadline }}</div>
        <div><b>Total Marks:</b> {{ assignment.total_marks }}</div>
        <div><b>Reference:</b> <a href="{{ assignment.reference.url }}">{{ assignment.reference_name }}</a></div>

        {% if uploaded_assignment %}
            <br/>
            <div><b>Your Work:</b> <a
                    href="{{ uploaded_assignment.file_uploaded.url }}">{{ uploaded_assignment.file_name }}</a>
            </div>
        {% endif %}


        <form class="form1" method="POST" action="{% url 'assignment:submit-assignment' assignment.id %}"
              enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}

                {% include 'messages.html' %}

                {{ assignment_instance_form.as_p }}
            </div>
            <button type="submit" class="done">Submit</button>
        </form>
    </div>

    <script>
        let showDetails = function (assignment_id) {

        }
    </script>

{% endblock %}