{% extends  'base.html' %}

{% block title %}ExamShield | Home{% endblock %}
{% block style %}

{% endblock %}
{% block main %}
    {# TODO: Complete Home Page #}

    <nav id="navbar">
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="../Admin/login.html">Admin</a></li>
            <li class="item"><a href="../Faculty/login.html">Faculty</a></li>
            <li class="item"><a href="../Student/login.html">Student</a></li>
            <li class="item"><a href="#aboutus">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>

        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Vidyam</h1>
        <p>For online examination and submissions</p>
        <button class="btn" onclick="location.href  = '../Admin/register.html'">Sign up</button>
    </section>

    <section id="aboutus" style="padding-top: 75px;">
        <h1 class="h-primary center">About Us</h1>
        <div id="services">
            <div class="box">
                <h2 class="h-secondary center">Smart Examination</h2>
                <p class="center">Vidhyam prevents user from opening any other window while examination is in progress.
                    This also blocks access to different shortcut keys such as cut ,copy , paste etc.. As student started giving exam
                    from different remote locations, the supervision for these exam became difficult.
                </p>
            </div>
            <div class="box">
                <h2 class="h-secondary center">Smart Submissions</h2>
                <p class="center">Students can submit assignments by subjects in any file  format, whereas faculty can upload the
                    definition of the assignment. Student will be able to see submissions given by faculty.</p>
            </div>
            <div class="box">
                <h2 class="h-secondary center">Remarking</h2>
                <p class="center">Additionally, the oral exam (VIVA) can be marked. The feature allow faculty to  give  marking  on assignment is  also possible.
                    Student can also see their marks.</p>
            </div>
        </div>
    </section>

    <section id="contact" style="padding-top: 75px;">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <center><button class="btn">Submit</button></center>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Created by Team Prastigh
        </div>
    </footer>

{% endblock %}