{% extends  'faculty/general-layout.html' %}
{% block app-main %}

<div class="faculty-add-exam">
    <p class="sign" align="center">Add Exam</p>
    <form class="form1" method="POST" action="question:faculty-add-question">
        {% csrf_token %}
        <div class="form-group">
            <input  type="text" align="center" name="course_name" id="course_name" placeholder="Exam Name">
            <input  type="number" align="center" name="question" id="question_number" placeholder="Total Question">
            <input  type="number" align="center" name="total_marks" id="total_marks" placeholder="Total Marks">
            <label></label>
                <select id="subject_name" name="subject_id" class="filter-selectbox">
                {% for subject in subjects %}
                <option value="{{subject.id}}">{{subject.name}}</option>
                {% endfor%}
                </select>
        </div>
        <button class="add" align="center" onclick="window.loaction.replace('{% url 'question:faculty-question' %}')" type="submit">Add</button>
    </form>
</div>

{% endblock %}
