{% extends  'faculty/general-layout.html' %}

{% block app-main %}
    <div class="faculty-view-exam">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Exams</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Subject</th>
                    <th>Total Question</th>
                    <th>Total Marks</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>View Questions</th>
                </tr>
                </thead>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.subject.name }}</td>
                        <td>{{ course.question_number }}</td>
                        <td>{{ course.total_marks }}</td>
                        <td>{{ course.start_time }}</td>
                        <td>{{ course.end_time }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url 'question:see-question' course.id %}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
