{% extends  'faculty/general-layout.html' %}

{% block app-main %}
    <div class="see-question">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="panel-title">Questions - {{ course.course_name }} | {{ course.subject.name }}</h6>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                <tr>
                    <th>Question</th>
                    <th>Marks</th>
                </tr>
                </thead>
                {% for c in questions %}
                    <tr>
                        <td>
                            <div>
                                <b>{{ c.question }}</b>
                                <ol start="1">
                                    <li>{{ c.option1 }}</li>
                                    <li>{{ c.option2 }}</li>
                                    <li>{{ c.option3 }}</li>
                                    <li>{{ c.option4 }}</li>
                                </ol>
                                <i>Answer: {{ c.answer }}</i>
                            </div>
                        </td>
                        <td>{{ c.marks }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}
