{% extends  'faculty/general-layout.html' %}

{% block app-main %}
<div class="see-question">

    <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Questions</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Question</th>

          <th>Marks</th>
          <th>Delete Question</th>
        </tr>
      </thead>
      {% for c in questions %}
      <tr>

        <td> {{c.question}}</td>

        <td>{{c.marks}}</td>
        <td><a class="btn btn-primary btn-xs" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock %}
