{% extends  'base.html' %}

{% block title %}ExamShield | Register{% endblock %}
{% block style %}
    <style>
     body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }

    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 600px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .sign {
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }

    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 60px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }

    form.form1 {
        padding-top: 40px;
    }

    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }


    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;

    }

    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9900CC,#9999CC);
        border: 0;

        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }


    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #8C55AA;
        padding-top: 15px;
    }

    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }

</style>
    {% endblock %}
{% block main %}
    {# TODO: Complete Login Page #}
<nav id="navbar">
        <ul>
            <li class="item"><a href="../Home/home.html">Home</a></li>
            <li class="item"><a href="../Admin/login.html">Admin</a></li>
            <li class="item"><a href="../Faculty/login.html">Faculty</a></li>
            <li class="item"><a href="../Student/login.html">Student</a></li>
            <li class="item"><a href="../Home/home.html">About Us</a></li>
            <li class="item"><a href="../Home/home.html">Contact Us</a></li>

        </ul>
    </nav>
    <div class="main">
        <p class="sign" align="center">Admin Registration</p>
        <form class="form1">
            <input class="un " type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">
            <input class="un " type="text" align="center" placeholder="email">
            <input class="un " type="text" align="center" placeholder="Institute name">
            <input class="un " type="number" align="center" placeholder="Institute code">
            <input type="radio" name="type" align="center" placeholder="Institute" value="Institute" style="width: 50px;">
            <label for="Institute" class="un">Institute</label>
            <input type="radio" align="center" name="type" placeholder="Tution" value="Tution" style="width: 50px;">
            <label for="Institute" class="un">Tution</label>
            <br><br>

            <a class="submit" align="center">Sign up</a>
            <p class="forgot" align="center"><a href="login.html">Already have an account?</p>
    </div>

    <footer>
        <div class="center">
            Created by Team Prastigh
        </div>
    </footer>

{% endblock %}