{% extends  'administrator/general-layout.html' %}

{% block app-main %}
<div class="view-faculty-details">

    <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Faculty Details</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Enrollment No.</th>
          <th>Email Id</th>
        </tr>
      </thead>
      {% for faculty in faculties %}
      <tr>

        <td> {{faculty.enroll_no}}</td>
        <td>{{faculty.email}}</td>

      </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock %}
